@model NewsApp.Models.Category

@{
    ViewData["Title"] = "Delete Category";
}

<h1>Delete Category</h1>

<h3>Are you sure you want to delete this category?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    @if (Model.NewsItems != null && Model.NewsItems.Any())
    {
        <div class="alert alert-warning">
            <strong>Warning:</strong> This category has associated news items. Deleting this category will remove these associations.
        </div>
    }
</div>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="CategoryId" />
    <div class="form-group">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

<script>
    // Replace the current state in the browser history with '/news/index' to prevent going back to the delete page
    history.replaceState(null, '', '/news/index');
</script>